	<h2>Name a New Team</h2>

	<%= form_for @team do |f| %>

	<div class="field">
		<%= f.label :teamname %><br>
		<%= f.text_field :teamname %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>